/* Estilos básicos */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 90%; /* Esto hace que la caja ocupe el 90% del ancho disponible */
    max-width: 500px; /* Asegura que la caja no crezca demasiado */
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

button {
    background-color: #00b300;
    color: #000;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    box-shadow: 0 0 15px #00b300;
    width: 100%; /* El botón ocupa el 100% del ancho de la caja */
    box-sizing: border-box;
}

button:hover {
    background-color: #008000;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.hacker {
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
}

.progress-bar-background {
    background-color: #333;
    width: 100%;
    height: 25px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00ff00;
}

.progress-bar {
    background-color: #00ff00;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    transition: width 0.1s ease;
    box-shadow: 0 0 10px #00ff00;
}

#result {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.speed-values {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

.speed-values span {
    font-weight: bold;
    color: #00ff00;
}

/* Media Query para pantallas más pequeñas (móviles) */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .hacker {
        font-size: 30px;
    }

    button {
        font-size: 18px;
        padding: 12px 20px;
    }

    .container {
        padding: 10px;
    }
}

/* Media Query para tabletas y pantallas medianas */
@media (max-width: 1024px) {
    h1 {
        font-size: 26px;
    }

    .hacker {
        font-size: 35px;
    }

    .container {
        width: 80%;
    }

    button {
        font-size: 19px;
    }
}
