body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #00ff00;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    color: #00ff00;
    font-size: 3em;
    margin-top: 20px;
}
.container {
    margin-top: 50px;
}
#progressContainer {
    margin-top: 20px;
    width: 80%;
    height: 30px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
}
#progressBar {
    height: 100%;
    width: 0;
    background-color: #00ff00;
}
#result {
    margin-top: 20px;
    font-size: 1.5em;
}
#speedDetails {
    margin-top: 20px;
    font-size: 1.2em;
}
#speedMbps, #speedMB {
    font-weight: bold;
}
button {
    background-color: #00ff00;
    color: #1e1e1e;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}
button:hover {
    background-color: #1e1e1e;
    color: #00ff00;
}
