/* Estilos básicos */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 100%; 
    max-width: 800px; /* Limita el tamaño máximo */
    position: relative;
    box-sizing: border-box;
    padding-bottom: 30px; /* Añadimos espacio en la parte inferior */
}

button {
    background-color: #00b300;
    color: #000;
    font-size: 20px; /* Aumentamos el tamaño del botón */
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    width: 100%; /* El botón ocupa todo el ancho */
    box-sizing: border-box;
}

button:hover {
    background-color: #008000;
}

h1 {
    font-size: 30px; /* Título más grande */
    margin-bottom: 20px;
}

.hacker {
    font-size: 36px;
    font-weight: bold;
    color: #ff0000;
}

.progress-bar-background {
    background-color: #333;
    width: 100%;
    height: 40px; /* Barra de progreso más alta */
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #00ff00;
}

.progress-bar {
    background-color: #00ff00;
    height: 100%;
    width: 0%;
    border-radius: 20px;
    transition: width 0.1s ease;
    box-shadow: 0 0 10px #00ff00;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

.speed-values {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

.speed-values span {
    font-weight: bold;
    color: #00ff00;
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .container {
        width: 100%;
        max-width: none;
        padding: 15px;
    }

    button {
        font-size: 16px; /* Reduce el tamaño del botón */
        padding: 12px;
    }

    h1 {
        font-size: 24px;
    }

    .hacker {
        font-size: 30px;
    }

    .progress-bar-background {
        height: 30px;
    }

    .speed-values {
        font-size: 16px;
    }
}

/* Media Query para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
    .container {
        width: 80%;
    }

    button {
        font-size: 18px;
    }

    h1 {
        font-size: 26px;
    }

    .progress-bar-background {
        height: 35px;
    }

    .speed-values {
        font-size: 17px;
    }
}
